body{
    background-color: rgb(236, 201, 105) ;
    font: normal 15pt courier;
    color: rgba(51, 48, 29, 0.795);


}
header{
    text-align: center;
    font: normal 15pt courier;
    color :   #000000;

}
section{
    background-color: whitesmoke;
    border-radius: 10px ;
    width: 600px;
    padding: 15px;
    margin: auto;
    color:black;
    box-shadow: 5px 5px 10px rgba(189, 150, 42, 0.753) ;
}
footer{
    text-align: center;
    
}
div{
    /*text-align: center;*/
}